/* hello */

/*
From lines 6-44 have been created by using a grid geneerator on layoutit.com
The following template can be viewed here: https://grid.layoutit.com/?id=3T2HrHx
*/

.container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 1.3fr 1.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Banner Banner Banner"
    "Dashboard Dashboard Dashboard"
    "Dashboard Dashboard Dashboard";
}

.Banner {
	grid-area: Banner;
  background-image: url("../images/barbellBackgroundImage.jpg");
  background-size: cover; /* the bg img covers the entire banner div container */
	}

.Dashboard {  
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "Name Name Name Name"
    "Recent-Reps Calendar Timer Add-Reps"
    "Recent-Reps Calendar Timer View-Reps";
  grid-area: Dashboard;
}

.Recent-Reps { 
  grid-area: Recent-Reps;
  background-color: purple; 
}
.Calendar {
  grid-area: Calendar;
  background-color: darkblue; 
}
.Timer { 
  grid-area: Timer; 
  background-color: cyan;
}
.Add-Reps { 
  grid-area: Add-Reps; 
  background-color: green;
}
.View-Reps { 
  grid-area: View-Reps; 
  background-color: yellow;
}
.Name { 
  grid-area: Name; 
  background-color: orange;
}

body {
	background-color: grey;
}

.hidden {
  display: none;
}